<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <listener>
        <listener-class>listeners.ConnectionPoolListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ConnectionServlet</servlet-name>
        <servlet-class>ConnectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloJSP</servlet-name>
        <jsp-file>/jsp/Hello.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloJSP</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>